# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [19]:
# List for holding lat_lngs and cities
gmaps.configure(api_key=g_key)
city_weather_df = pd.read_csv("../output_data/cities.csv")
city_weather_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Labis,2.3850,103.0210,77.09,91,26,1.59,MY,1619872477
1,Puerto Ayora,-0.7393,-90.3518,73.99,96,36,8.75,EC,1619872419
2,Tombouctou,20.0000,-3.0000,98.92,19,43,5.44,ML,1619872478
3,Black River,18.0264,-77.8487,82.40,74,20,2.30,JM,1619872478
4,Salym,60.0625,71.4789,43.39,58,99,2.06,RU,1619872478
...,...,...,...,...,...,...,...,...,...
550,Balkanabat,39.5108,54.3671,81.32,31,100,15.32,TM,1619872388
551,Peniche,39.3558,-9.3811,62.01,62,100,8.01,PT,1619872623
552,Manavgat,36.7867,31.4431,91.40,22,0,10.36,TR,1619872623
553,Ikornnes,62.3873,6.5570,45.00,57,74,5.99,NO,1619872624
554,Walvis Bay,-22.9575,14.5053,71.60,49,0,8.05,NaN,1619872416

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
gmaps.configure(api_key=g_key)

#Use the Lat and Lng as locations
locations = city_weather_df[["Lat","Lng"]]

#Add Heatmap layer to map
humidity = city_weather_df["Humidity"]

In [21]:
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
#Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
smaller_city_df = city_weather_df.loc[(city_weather_df["Wind Speed"] <= 10) & (city_weather_df["Clouds"]== 0) & \
                  (city_weather_df["Max Temp"] >= 70) & (city_weather_df["Max Temp"] <= 80)].dropna()
smaller_city_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
8,Cape Town,-33.9258,18.4232,72.00,46,0,8.05,ZA,1619872200
94,Hermanus,-34.4187,19.2345,73.00,48,0,1.99,ZA,1619872420
191,GuarujÃ¡,-23.9931,-46.2564,71.60,73,0,2.30,BR,1619872523
320,San Vicente,-26.6167,-54.1333,70.63,49,0,4.68,AR,1619872559
363,Santa Cruz,30.4202,-9.5982,73.40,38,0,8.05,MA,1619872571
402,Port Keats,-14.2500,129.5500,77.18,62,0,4.81,AU,1619872581
466,Lashio,22.9333,97.7500,76.24,51,0,1.97,MM,1619872599

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [23]:
hotel_df = smaller_city_df.loc[:,["City","Country","Lat","Lng"]]

#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

            City Country      Lat       Lng Hotel Name
8      Cape Town      ZA -33.9258   18.4232
94      Hermanus      ZA -34.4187   19.2345
191      GuarujÃ¡      BR -23.9931  -46.2564
320  San Vicente      AR -26.6167  -54.1333
363   Santa Cruz      MA  30.4202   -9.5982
402   Port Keats      AU -14.2500  129.5500
466       Lashio      MM  22.9333   97.7500

In [24]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [25]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        #delay the code by one second to avoid an error
        time.sleep(1)
    print("--------------------Ending Search")

Retrieving Results for Index 8: Cape Town.
Closest hotel in Cape Town is Atlanticview Cape Town Boutique Hotel.
--------------------Ending Search
Retrieving Results for Index 94: Hermanus.
Closest hotel in Hermanus is Harbour House Hotel.
--------------------Ending Search
Retrieving Results for Index 191: GuarujÃ¡.
Closest hotel in GuarujÃ¡ is Hotel Doral GuarujÃ¡.
--------------------Ending Search
Retrieving Results for Index 320: San Vicente.
Closest hotel in San Vicente is Hotel Y Restaurante Los Lapachos.
--------------------Ending Search
Retrieving Results for Index 363: Santa Cruz.
Closest hotel in Santa Cruz is Sofitel Agadir Thalassa sea & spa.
--------------------Ending Search
Retrieving Results for Index 402: Port Keats.
Closest hotel in Port Keats is TDC Village (Hundred Man Camp).
--------------------Ending Search
Retrieving Results for Index 466: Lashio.
Closest hotel in Lashio is Two Elephants Hotel.
--------------------Ending Search

In [26]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
8,Cape Town,ZA,-33.9258,18.4232,Atlanticview Cape Town Boutique Hotel
94,Hermanus,ZA,-34.4187,19.2345,Harbour House Hotel
191,GuarujÃ¡,BR,-23.9931,-46.2564,Hotel Doral GuarujÃ¡
320,San Vicente,AR,-26.6167,-54.1333,Hotel Y Restaurante Los Lapachos
363,Santa Cruz,MA,30.4202,-9.5982,Sofitel Agadir Thalassa sea & spa
402,Port Keats,AU,-14.2500,129.5500,TDC Village (Hundred Man Camp)
466,Lashio,MM,22.9333,97.7500,Two Elephants Hotel

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))